[gerrit]
        basePath = git
        canonicalWebUrl = http://localhost:8080/
[database]
        type = h2
        database = db/ReviewDB
[index]
        type = LUCENE
[auth]
        type = OPENID
[sendemail]
        smtpServer = localhost
[container]
        user = {{ gerrit_user }}
        javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
