[auth]
{% if gerrit_auth_register_email_private_key is defined %}
        registerEmailPrivateKey = {{ gerrit_auth_register_email_private_key }}
{% endif %}
{% if gerrit_database_type == 'postgresql' %}
[database]
        password = {{ gerrit_database_password }}
{% endif %}
