[auth]
        registerEmailPrivateKey = 9/sLDj5QS9Bh+M+jmXCK1YXLTWXZIEPy27I=
        restTokenPrivateKey = 51PP2Nf95XerEVhOfL/U6geDDEZErMTBtaI=
{% if gerrit_database_type == 'postgresql' %}
[database]
        username = {{ gerrit_database_username }}
        password = {{ gerrit_database_password }}
{% endif %}
